@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_1;

	cursor: pointer;

	&[type='submit'] {
		@include appearance(none);
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

//color mixins:
@mixin btn_style_blue {
	font-weight: 700;
	color: $white;
	background-color: $color_link_base;
	transition: background-color 0.3s ease;

	@include st_btn;

	&:hover {
		background-color: darken($color_link_base, 10%);
	}
}

//size mixins:
@mixin btn_size_normal {
	height: 4rem;
	padding: 0 1.2rem;

	line-height: 4rem;
	font-size: 1.6rem;

	border-radius: $gl_radius;
}

@mixin btn_menu {
	position: relative;
	min-width: 2.25rem;
	height: 0.81rem;
	font-family: $font_1;
	font-size: 0.69rem;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.02rem;
	line-height: 1.17;
	color: $color_text_accent;
	@include transparent;
	cursor: pointer;
	z-index: 200;
	@include transition_all;

	&:hover,
	&:focus {
		color: $black;
		&::after,
		&::before {
			background: $accent_secindery;
		}
	}
}

@mixin btn_after_before {
	content: '';
	position: absolute;
	right: 0;
	display: block;
	height: 3px;
	background-blend-mode: normal;
	@include transition_all;
}
