mixin header
	header.header
		a(href='')
			img.logo__img(src='images/logo.webp', alt='Logo', width='253', height='43')
		button.btn__menu(type='button', id='menuBtn') Menu

		nav.navbar(id="navbarMenu")
			button.btn__close(type='button', id='closeBtn') Close
			+menu({    
				gl_class: 'nav',
    			gl_mod: '',
    			items: [
        			{ title: 'About Us', url: '#' },
        			{ title: 'Knowledge Hub', url: '#' },
        			{ title: 'Innovators Directory', url: '#' },
        			{ title: 'Application Portal', url: '#' },
        			{ title: 'News & Updates', url: '#' }
    				]})
			+social({gl_mod: '',items: [
        			{ name_icon:'instagram',  name:'instagram'},
        			{  name_icon:'facebook' ,  name:'facebook'},
					{ name_icon:'twitter' ,  name:'twitter'},
					
    				]})





				        
	