//------------------------------------------------------------layout
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 18px 60px 19px 60px;
}

//------------------------------------------------------------layout###
