.btn__menu {
	@include btn_menu;
	color: $color_text_accent;
}
.btn__menu::before {
	@include btn_after_before;
	top: -0.31rem;
	width: 2.25rem;
	background: $modal_bg;
}
.btn__menu::after {
	@include btn_after_before;
	bottom: -0.31rem;
	width: 2.25rem;
	background: $modal_bg;
}

.btn__menu.toggle {
	@include btn_menu;
	min-width: 2.44rem;
	color: $color_text_base;
}
.btn__menu.toggle::before {
	@include btn_after_before;
	top: -0.31rem;
	width: 2.44rem;
	background: $body_bg;
}
.btn__menu.toggle::after {
	@include btn_after_before;
	bottom: -0.31rem;
	width: 2.44rem;
	background: $body_bg;
}
