.navbar {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: 139px 60px 115px 60px;
	width: 448px;
	height: 100vh;
	font-size: 30px;
	font-weight: 900;
	line-height: 2.197rem;
	text-align: left;
	background-color: #017ee2;
	z-index: 100;
}

.nav__list {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 30px;
	margin-bottom: 119px;
}
.nav__list::after {
	content: '';
	position: absolute;
	bottom: -58px;
	left: 0;
	display: block;
	width: 328px;
	height: 1px;

	opacity: 0.2;
	background: #ffffff;
	background-blend-mode: normal;
}
