.social_list {
	@include flex_block;
	justify-content: flex-start;
	gap: 20px;
}
.social_item {
	width: 1.88rem;
	height: 1.88rem;
}

.social_link {
	width: 100%;
	height: 100%;
	@include transition_all;

	&:hover,
	&:focus {
		transform: scale(1.1);
		color: $accent_primary;
	}
}
