.social_list {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;
}
.social_item {
	width: 30px;
	height: 30px;
}

.social_link {
	width: 100%;
	height: 100%;

	&:hover,
	&:focus {
		@include transition_all;
		transform: scale(1.1);
		color: #83e93f;
	}
}
